body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#app{
  display:grid;
  gap: 20px;
  padding: 10px;
  max-width: 1200px;
  border: 5px dotted;
  background-color: #fff;
}